h1 {
  text-align: center;
  font-family: "logo";
  font-size: 10em;
  margin-top: 200px;
  animation: fadeInAnimation ease 3s;
}
h2 {
  text-align: center;
  font-family: "century-gothic";
}
#under_name {
  text-align: center;
  font-family: "century-gothic";
  font-size: .7em;
  animation: fadeInAnimation ease 3s;
}
body {
  background-color: #e2d1f9;
  font-family: "century-gothic";
  font-weight: 400;
  padding: 50px;
}
#login-next-user {
  margin-left: 220px;
  background-color: #fcf6f5ff;
  color: black;
}
.btn-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  animation: fadeInAnimation ease 2s;
}
.btn-primary {
  width: 20vw;
  font-size: 3vw;
  background-color: #fcf6f5ff;
  color: black;
  border-radius: 10px;
  animation: fadeInAnimation ease 2s;
  padding: 5px;
}
.btn-primary:hover {
  background-color: #bb86c2;
  color: black;
}
.tracks-media {
  font-size: 20px;
  color: #836886;
  display: flex;
  justify-content: center;
  position: relative;
}
.table {
  display: flex;
  justify-content: center;
}
button {
  margin: 50px;
}
#circles {
  width: 200px;
  height: 200px;
  background-color: #92a8d1;
  border-radius: 50%;
  position: relative;
  opacity: 75%;
  border-color: #3c598d;
  border-style: solid;
  border-width: 2px;
  animation: fadeInAnimationCirc ease 2s;
  left: -50px;
}
#circles::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100px;
  background-color: #f7cac9;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 75%;
  border-color: #e65e5a;
  border-style: solid;
  border-width: 2px;
  animation: fadeInAnimationCirc2 ease 2s;
}
#cos {
  z-index: 9;
  position: absolute;
  top: 80px;
  border-color: #836886;
  border-style: solid;
  border-width: 2px;
  padding: 2px;
  animation: fadeInAnimation ease 2s;
}
.tracks-container {
  animation: fadeInAnimation ease 2s;
}
#contain-user {
  animation: fadeInAnimation ease 1s;
}
.column{
  float: left;
  width: 50%;
}
@font-face {
  font-family: "logo";
  src: url("./zorque/zorque.otf") format(opentype);
}
@font-face {
  font-family: "head";
  src: url("./quicksand/Quicksand_Bold_Oblique.otf") format(opentype);
}
@font-face {
  font-family: "century-gothic";
  src: url("./century-gothic/CenturyGothic.ttf") format(truetype);
}
@keyframes fadeInAnimation {
  0% {
    transform: translateY(-150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeInAnimationCirc {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeInAnimationCirc2 {
  0% {
    transform: translateX(300px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
